extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-catalog/_s-catalog.pug

block variables
	- let  mainPage= 'page-doc'
block title
	- let  title= 'doc'
	title= title
block pagecontent 
	+b.top-nav--doc
		.container
			.row
				.col
					.h6.strong Documents
				.col-auto 
	+footer()