extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-catalog/_s-catalog.pug

block variables
	- let  mainPage= 'page-404'
block title
	- let  title= '404'
	title= title
block pagecontent
	//- +header() 
	//- 	+top-nav()
	.s-404.bg-wrap
		.top-nav
			.container
				a(href="#")
					img(src="img/svg/logo-light.svg", alt="")
		+pic("404-bg.jpg",'bg')(class="picture-bg")
		img.img-404.res-i(src="img/@2x/404_rastr.png", alt="")

	+footer('404')