mixin s-prod-body()
	// start s-prod-body
	+b.SECTION.s-prod-body.section.bg-light#s-prod-body&attributes(attributes)
		.container
			.h6.strong Specifications
			table
				tr
					td 12 layered PSD files
					td 2500 x 2500 px, 72 dpi
					td Detailed PDF manual
			
			h3
				strong Compatibility
			table
				tr
					td Adobe Photoshop (from version CS6),
					td Adobe Illustrator (from version CS6) 
			
			.h6.strong Download

			table
				tr
					td ZIP archive: 495 MB
			
	// end s-prod-body