mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			h1 Lorem ipsum dolor sit amet
			p Integer molestie cursus non maecenas augue velit, posuere dictum vitae suscipit tellus, rhoncus sit lacus vel consequat, aliquam phasellus. Elit nulla condimentum urna lacinia, nascetur ut a sed fusce. amet amet, ullamcorper lacus, velit dui nulla ipsum, dolor mauris. Non justo nulla.
	// end header-block

mixin header-block-page()
	// start header-block
	+b.header-block--page
		.container
			h1 Product name
			p Whether you are an indie developer, big publisher, or news contributor, you'll want to make a presentation of your product as attractive as possible - and these mockups are designed specifically to beautify your presentation's visual appearance. Whether you are an indie developer, big publisher, or news contributor, you'll want to. 
	// end header-block

